@model Post

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Description;
    ViewData["Keywords"] = $"{Model.Tag?.Replace(",", " ")} {Model.Category}";

    // var base_path = Context.Request.PathBase;      For Iis uploading (base_path)
    //ViewBag.Description = Model.Description;
    //ViewBag.Keywords = $"{Model.Tag?.Replace(",", " ")} {Model.Category}";

}

<h1>Details</h1>

<div class="container">
    <h3 class="Title">@Model.Title.</h3>
    <div class="post no-shadow">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var image_path = $"/Image/{Model.Image}";
            <img src="@image_path" width="200" />

        }

        <div class="post-body">
            @Html.Raw(@Model.Body)
        </div>
        @if (User.Identity.IsAuthenticated)
        {


        <div class="comment-section">
            @{

                await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = 0 });
            }

            @foreach (var c in Model.MainComments)
            {
                <p>
                    @c.Message --- @c.Created
                </p>
                <div style="margin-left:20px">
                    <h4>Sub Comments</h4>
                    @{
                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.Id, MainCommentId = c.id });
                    }

                    @foreach (var sc in c.SubComments)
                    {
                        <p>
                            @sc.Message --- @sc.Created
                        </p>

                    }
                </div>
            }
        </div>
         }
          else
          {
              <div>
                  <a asp-action="Login" asp-controller="Auth">Sign In</a> to comment on this awesome post!
              </div>
           }
    </div>


</div>

<div>

    <a asp-action="Index">Back to List</a>
</div>
